/* Font import */
@import url('https://fonts.googleapis.com/css?family=Roboto:100, 500');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

header {
    background: #3D12FF;
    padding: 10px;
    width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.form input {
    border: none;
    padding-left: 10px;
}

.btn {
    padding: 10px 20px;
    text-align: center;
    background: #2979FF;
    color: #f7f7f7;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

#notes {
    display: flex; 
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
}

#notes aside {
    color: #eeeeee;
    text-align: center;
    width: 10%;
    margin: 1vw;
    flex-basis: calc(350px - 2.5vw);
    transition: all .2s ease-in-out;
}

#notes aside:nth-child(n+1) {
    background: #2979FF;
}

#notes aside:nth-child(2n+2) {
    background: rgb(123, 41, 255);
}

#notes aside:nth-child(3n+3) {
    background: rgb(255, 127, 41);
}


#notes aside:hover {
    transform: scale(1.25);
    z-index: 99999;
}

#notes aside h1 {
    font-weight: 500;
    margin: 25px auto;
}

#notes aside p {
    font-weight: 100;
    font-size: 3em;
    padding: 1vw;
}

main {
    padding: 2.5vw;
}
